# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*.local
.env

# IDE
.vscode/

# misc
.DS_Store
*.pem
.firebase
.runtimeconfig.json
*.sqlite

**/**/node_modules/